@import "tailwindcss";

@theme {
  --color-yellow: #EBC76B;
  --color-orange: #C65C14;
  --color-dark-blue: #111214;
  --color-blue: #5B7FFF;
  --color-white: #FFFFFF;
  --color-grey: #909090;
  --color-light: #DEDEDE
}
